*.pyc
.~lock.*
tags
.installed.cfg
bin/
develop-eggs/
downloads/
fake-eggs/
include/
lib/
parts/
var/
buildout-cache/downloads/dist/*.tgz
buildout-cache/downloads/dist/*.bzip
buildout-cache/downloads/dist/*.zip
buildout-cache/eggs/*.egg
.mr.developer.cfg
src/plonesa.dextut/Paste-1.7.5.1-py2.7.egg/
src/plonesa.dextut/PasteDeploy-1.5.0-py2.7.egg/
src/plonesa.dextut/PasteScript-1.7.3-py2.7.egg/
src/plonesa.dextut/plonesa.dextut.egg-info/
